<h3>Edit customer</h3>
<form>
    <div class="form-group">
        <label for="customerFirstName">First name</label>
        <input type="text" class="form-control" id="customerFirstName" placeholder="Customer First Name" ng-model="customer.firstName">
    </div>
    <div class="form-group">
        <label for="customerLastName">First name</label>
        <input type="text" class="form-control" id="customerLastName" placeholder="Customer First Name" ng-model="customer.lastName">
    </div>
    <div class="form-group">
        <label for="customerCity">First name</label>
        <input type="text" class="form-control" id="customerCity" placeholder="Customer First Name" ng-model="customer.city">
    </div>
    <button type="submit" class="btn btn-success" ng-click="saveEditedCustomer()">Submit</button>
</form>